/* logoing  #2B2A29*/
/* body .up_arrow{
 margin-right: 0;
 margin-bottom: 0;
 position: fixed;
 margin-left: 76rem;
} */
body .up_arrow{
    position: fixed;
     bottom: 20px; 
     right: 20px; 
     display:none; 
     z-index: 1000;
   
}
body .up_arrow:hover{
    background-color: red;
    color: #ffffff;
}
/* Heading section */
/* .heading_section{
    padding-top: 2rem;
} */
 .heading_section.active_sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.5s;
 }
 .heading_section.active_sticky .navbar{
    background-color: skyblue !important;
   
    transition: 0.5s;
 }
 /* .heading_section.active_sticky .navbar .navbar-brand img{
    transition: 0.5s;
 }
 .heading_section.active_sticky .navbar .navbar-brand img:hover{
    transform: scale(1.1);
 } */
 /* .heading_section.active_sticky .navbar .navbar-toggler{
    background-color: #F48000;
 }
 .heading_section.active_sticky .navbar .navbar-toggler:hover{
    background-color: #F48000;
 }
 .heading_section.active_sticky .navbar .navbar-toggler .navbar-toggler-icon{
    color: white;
 }
 .heading_section.active_sticky .navbar .navbar-toggler .navbar-toggler-icon:hover{
    background-color: #F48000;
 } */
 .heading_section .collapse ul li{
    list-style: none;
    padding: 10px;
    border-radius: 30px;
 }
.heading_section .collapse ul a button{
    border: none;
    border-radius: 30px;
    
}
.heading_section .collapse ul li:hover{
    background-color: #F48000;
    
}
.heading_section .collapse ul a{
    text-decoration: none;
    color: black;
}
.heading_section .collapse ul a button:hover{
    background-color: #F48000;
}

.heading_section .collapse ul li a{
    text-decoration: none;
    color: black;
}
.heading_section .navbar .navbar-toggler:hover{
    background-color: #F48000;
}
.heading_section .collapse ul .dropdown .dropdown-menu{
    background-color: #000000;
    
} 
.heading_section .collapse ul .dropdown .dropdown-menu a{
    color: white;
}
.heading_section .collapse ul .dropdown .dropdown-menu a:hover{
    background-color: #F48000;
}

/* .heading_section  .navbar-toggler-icon{
    background-color: black;
    color: white;
} */

/* about us */

.goal_section .img{
    overflow: hidden;
}
.goal_section .img img{
   transition: 0.4s;
   cursor: pointer;
   width: 100%;
}
.goal_section .img img:hover{
    transform: scale(1.1);
}
.quality_section .quality .img{
overflow: hidden;

}
.quality_section .quality .img img{
    cursor: pointer;
    transition: 0.4s;
    width: 100%;
    
}
.quality_section .quality .img img:hover{
    transform: scale(1.1);
}





/* about us end */
.about_section .text {
    margin-top: 3rem;
}
.about_section .text h1{
    background-color: blue;
    color: white;
   
}
.about_section .img{
    overflow: hidden;
}
.about_section .img img{
    transition: 0.4s;
    cursor: pointer;
}
.about_section .img img:hover{
    transform: scale(1.1);
}


/* department section */
.department_section .department .card{
    overflow: hidden;
    width: 100% !important;
    height: 510px !important;
}
.department_section .department .card img{
    transition: 0.4s;
    cursor: pointer;
    width: 100%;
    
}
.department_section .department .card img:hover{
    transform: scale(1.1);
}
.department_section .department .card .btn{
    transition: 0.4s;
    border: none;
}
.department_section .department .card .btn:hover{
    background-color: red;
    transform: scale(1.1);
}

/* why choose section */

.choose_us_section .text li p{
    line-height: 2rem;
}

.choose_us_section .text .img{
    overflow: hidden;
}
.choose_us_section .text .img img{
    transition: 0.4s;
}
.choose_us_section .text .img img:hover{
    transform: scale(1.1);
}
/* about us page */

/* .about .container {
    background-color: #857f7f;
} */

/*Academics Style  */

/* department section */
.department_head_section .bc{
    background-color: #192F59;
    color: white;
    /* color: black; */
}
.department_head_section .mc{
    background-color: #DFF0D8;
}


/* gellary section  */
.gellary_section .gallery_img{
    overflow: hidden;
}
.gellary_section .gallery_img img{
    transition: 0.4s;
    cursor: pointer;
}
.gellary_section .gallery_img img:hover{
    transform: scale(1.1);
}

/* club section */
.club_head_section .bc{
    background-color: #192F59;
    color: white;
}
.club_head_section .mc{
    background-color: #DFF0D8;
}


.membership_section .img{
overflow: hidden;
padding-top: 2rem;
padding-bottom: 2rem;
}
.membership_section .img img{
   transition: 0.4s; 
   cursor: pointer;
  
}
.membership_section .img img:hover{
  transform: scale(1.1);  
}
.membership_section .from .btn{
    overflow: hidden;
}
.membership_section .from .btn button{
    padding: 10px;
    border-radius: 20px;
    transition: 0.4s;
}
.membership_section .from .btn button:hover{
    transform: scale(1.1);
    background-color: cyan;
    color: black;
    border:none;
}
/* .gallery_section h2{
    border-bottom: 2px solid black;
    
} */
.gallery_section .img{
    overflow: hidden;
}
.gallery_section .img img{
    width: 100%;
    transition: 0.4s;
    cursor: pointer;
}
.gallery_section .img img:hover{
    transform: scale(1.1);
}




/* clube end */

/* facaletiy */

.team_member .member .card{

}
.team_member .member .card .card-body{
    text-align: center;
}

/* form section */
.form_section{
    background-color: #f8f9fa;
}
.form_section .form-container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* tuition_fee_section */
.tuition_fee_section ul li{
    list-style: none;
    line-height: 2rem;
}
.tuition_fee_section .img{
    overflow: hidden;
}
.tuition_fee_section .img img{
    transition: 0.4S;
}
.tuition_fee_section .img IMG:hover{
    transform: scale(1.1);
}

.table_section{
    
}
/* footer */
.footer_section{
    background-color: #000000 !important;
}
.footer_section .link h3{
    color: white;
}
.footer_section .link ul{
    text-decoration: none;
    list-style: none;
}
.footer_section .link ul li a{
 color: #fff;
 transition: 0.4s;
}
.footer_section .link ul li a:hover{
    transform: scale(1.1);
    background-color: #F48000;
}
.footer_section .follow h3{
    color: white;
}
.footer_section .follow a{
    text-decoration: none;
    transition: 0.4s;
}
.footer_section .follow a img:hover{
    background-color: #fff;
    border-radius: 50px;
    transform: scale(1.1);
}

.footer_section .contact h3{
    color: white;
}
.footer_section .contact ul li {
    list-style: none;
}
.footer_section .contact ul li a{
    list-style: none;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}
.footer_section .contact ul{
    line-height: 3rem;
}
.footer_section .contact ul li a:hover{
    transform: scale(1.1);
    color: #F48000;
   
}